@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display+SC&family=Shadows+Into+Light&display=swap');

/* Styles applied to the whole document */
* {
    box-sizing: border-box;
}

/* Styles applied to all images */
img {
    max-width: 100%;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

/* Hides elements when they are not supposed to be visible */
.hidden {
    display: none;
}





#logo, h2, h3 {
    font-family: 'Playfair Display SC', serif;
}

#logo-random {
    font-family: 'Shadows Into Light', cursive;
}
